.signUpBtn {
    margin: 15px auto 0 !important;
    display: block;
}

.studPage {
    display: none;
}

.tudDitle,
.studDetels {
    display: none;
}
.buttons{
    text-align: center;
}